<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="updateMe">Click me</button>
    {{ banana }}
    <script>

        document.getElementById("updateMe").addEventListener("click", makeRequest);

        function makeRequest() {
            const xhr = new XMLHttpRequest();

            xhr.open("GET", "http://127.0.0.1:5000/teste");
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

            xhr.onload = () => console.log(xhr.response);

            xhr.send();
        }

    </script>
</body>
</html>